// TYPES
input {
    width: 70%;
    height: 40px;

    background-image: url('/images/searchicon.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding-left: 40px;
    box-shadow: 0px 4px 4px black;
    border: none;
    border-radius: 4px;
}

// CLASSES
.article_thumbnail {
    height: 200px;
    width: 80%;
    margin-bottom: 2%;
    background-color: yellow;

    box-shadow: 0px 4px 4px black;
    border-radius: 10px;
}

.video_thumbnail {
    height: 200px;
    width: 80%;
    background-color: blue;

    box-shadow: 0px 4px 4px black;
    border-radius: 10px;
}

.header1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    align-self: flex-start;
    margin-left: 15%;
}

// ID's
#main {
    font-family: arial;
    font-size: 24px;

    display: flex;
    justify-content: center;
}


#column1 {
    width: 30%;
    height: 800px;
    margin-top: 25px;
    background-color: red;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
}

#column2 {
    width: 30%;
    height: 800px;
    margin-top: 25px;

    display: flex;
    justify-content: center;

    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#article_search {
    margin-bottom: 7%;
}